* {
  font-family: "Oswald", sans-serif;
  }
body{
  background-image: url("../img/mexico_city.jpg");
  background-size: cover;
    }
aside {
  display: block;
  text-align: right;
  padding-right: 2px;
  }
.container {
  background-color: black;
  max-width: 100%;
  opacity: 0.7;
  position: absolute;
    top: 600px;
    right: 0;
    left: 0;
    width: auto;
    height: 25%;
  }
ul {
  color: white;
  list-style-type: none;
  }
li {
  display: block;
  float: left;
  padding: 110px;
  padding-top: 12px;
  text-align: center;
  }
